
$darkgreen: rgb(10, 66, 10);


html {
    font-size: 62.5%;
}

body {
    font-family: 'Courier',sans-serif;
}

.wrap-right {
    padding-left: 15%;
}

.wrap {
    padding: 0 60px;
}

.title {
    font-size: 45px;
    padding-bottom: 60px;
    text-align: center;
}